<div class="col-md-4 col-sm-4">
    <h3 style="text-align: left;">Content</h3>
    <hr>
    <p>
    <% @manual.steps.each_with_index do |step| %> 
    	<h5 class="show_step"><a href="<%=@manual.id%>?page=<%=step.count%>"><%= step.count.to_s + ") " + step.title %></a></h5>
    <% end %> 
    </p>
</div>