<section class="new-manual-block">
  <div class=" container container-new-manual" style="margin-top: 4%;">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 new-manual-sec new-manual">
        <h2 class="text-center"><%= t("devise.registrations.edit.update_profile") %></h2>
        <%= render update_provide_form_partial_path%>     
      </div>
     </div>
    </div>
</section>



