@media screen and (max-width: 700px) {
  .pc-menu {
    display: none !important;
  }
  .login-sec{
  border-right: none !important;
  border-bottom: 2px solid #92BB81FF;
  }
  .container-log{
    box-shadow:0px 10px 0px rgba(0,0,0,0.1);
   }
  .new-manual-button-parent {
    text-align: center;
    span {
      display: none !important;
    }
  }
  .manual-button {
    padding-top:5px;
  }
  #profile-info{
    border-bottom: none;
  }
  .profile-block{
    .h4-profile{
      font-size: 12px;
    }
  }
}

@media only screen and (min-width:700px) and (max-width: 991px) {
  .container {
     width: 100% !important;
  }
  .login-sec{
  border-right: none !important;
  border-bottom: 2px solid #92BB81FF;
  }
  .container-log{
    box-shadow:0px 10px 0px rgba(0,0,0,0.1);
  }
  #profile-info{
    border-bottom: none;
  }
}