* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: $backgroundColor;
  font-size: 14px;
  font-size: 1.4rem;
}

h1 {
  font-size: 24px;
  font-size: 2.4rem;
}

i {
  width: 26px;
}

ul {
  list-style-type: none;
}

a:hover, a:active, a:link, a:visited {
  text-decoration: none;
}

.control-label {
  display: none;
}

.apple_pagination {
  background: white;
  border-radius: 20px;
  text-align: center;
  padding: 5px;
  cursor: default; 
  font-size: 16px;
  font-weight: 500;
}
.apple_pagination a, .apple_pagination span {
  padding: 0.2em 0.3em; 
}
.apple_pagination .disabled {
    color: #5DB15A; 
}
.apple_pagination .current {
    font-style: normal;
    background-color: #047000;
    color: white;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em; 
}
.apple_pagination a {
    text-decoration: none;
    color: #047000; 
}
.apple_pagination a:hover, .apple_pagination a:focus {
  text-decoration: underline; 
}