.h2_reg{
	
    margin-bottom:30px;
    font-weight:750;
    font-size: 30px;
    color: #00b300;
}
.h2_reg small{
    	color: #00b300;	
}
.devise_links_reg{
	text-align: center;
	width: 50%;
	padding-top: 25px;
	margin-left: 25%;
	font-size: 20px;
	h5{
	padding: 5px;
	}
}
.devise_links_reg a{
	color: #00b300;
}
.devise_links_reg a:hover{
	font-weight: 700;
}



