<div class="text-center new-manual-button-parent">
  <%= link_to t('pages.index.create_new_manual.not_signed_in.please_login'), 
              login_path, 
              class: 'new-manual-button' %>
</div>