<div class="row">
         <div class="apple_pagination" style="margin-bottom: 10px;">
            <%= will_paginate @manuals, :previous_label => t('pages.pagination_panel.prev'), :next_label => t('pages.pagination_panel.next') %>
        </div>
</div>