<div class="container">
	<div class="row">
		<div class="col-sm-3" id="side-menu">
			<ul id="links-list">
    			<%= render 'pages/index/side_menu/no_login_required_links' %>
  			</ul>	
		</div>
		<div class="col-sm-9" id="main-content" style="background-color: #92BB81FF; padding: 20px 0 20px;">
			<%= render @manuals %>	
		</div>
	</div>
</div>

<script type="text/javascript">
$(document).ready(function () {
    var offset = $('#side-menu').offset();
    var topPadding = 40;
    var win_width = window.innerWidth;
    // alert(win_width);
    if (win_width >= 768){
    	$(window).scroll(function() {
        if (($(window).scrollTop() > offset.top) && (window.innerWidth >= 768)) {
            $('#side-menu').stop().animate({marginTop: $(window).scrollTop() - offset.top + topPadding});
        }
        else {
            $('#side-menu').stop().animate({marginTop: 0});
        }
    	});	
    }else{
    	$('#side-menu').stop().animate({marginTop: 0});
    }
    
});
</script>