<div class="container">
	<div class="row">
		<div class="col-sm-3" id="side-menu">
			<ul id="links-list">
    			<%= render 'pages/index/side_menu/no_login_required_links' %>
  			</ul>	
		</div>
		<div class="col-sm-9" id="main-content" style="background-color: #92BB81FF;">
			<%= render @manuals %>	
		</div>
	</div>
</div>