<section class="login-block">
  <div class="container container-log" style="margin-top: 4%;">
    <div class="row">
      <div class="col-md-6 col-sm-6 login-sec">
        <div class="message-box text-center">
                <h1 class="m-b-0">404</h1>
                <h4> <%= t('errors.404_error.main_text')%> </h4>
                <div class="buttons-con">
                    <div class="action-link-wrap" style="margin-top: 30px;">
                        <a href="<%= root_path %>" class="fas fa-home f-icon-color" style="font-size: 70px;"></a>
                    </div>
                </div>
            </div>    
      </div>
       <div class="col-md-6 col-sm-6 banner-sec">
            <img class="img-responsive manual_img" style="max-height: 300px;" src="https://pp.userapi.com/c844521/v844521548/c0ae0/V8usUw79xgs.jpg" alt="">
      </div>
    </div> 
  </div>
</section>

