<div class="col-sm-5 single-manual-card" id=<%= manual_path(manual.id) %>>
  <div class="card">
    <div class="card-block">
      <h4 class="manual-text">
        <%= truncate(manual.title, :length => 60)%>
      </h4>
      <div class="manual-img" style="height: 330px;">
        
      </div>
      <%= link_to "Show", manual_path(manual.id), class: 'show_it_link' %>
    </div>
  </div>
</div>