<div class="col-sm-12" style="padding: 0 20px 0;" id=<%= manual_path(manual.id) %>>
  <div class="card single-manual-card" style="background-color: #fff;">
    <div class="card-block">
      <h4 class="manual-text">
        <%= truncate(manual.title, :length => 150)%>
      </h4>
      <div class="manual-img" style="max-height: 600px; margin-bottom: 5px;">
        <%= link_to image_tag manual.img_url, class: 'img-responsive img_m', :alt => "ManualImage" %>
      </div>
      <%= link_to "Show", manual_path(manual.id), class: 'show_it_link' %>
    </div>
  </div>
</div>