<div class="container new-manual">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h1>Create a new manual</h1>
        <%= render 'manuals/new/manual_form' %>
    </div>
  </div>
</div>