<div id="single-manual-content" class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="posted-by">Posted by <%= @manual.user.name %></div>
      <h3><%= @manual.title %></h3>
      <p><%= @manual.description %></p>
    </div>
  </div><!-- row -->
</div>