#main-content {
  background-color: #92BB81FF; 
  padding: 20px 0 20px;
  min-height: 800px;
  margin: 0;
}

#side-menu {
  padding: 0;
  #links-list {
    margin-top: 20px;
    padding: 0;
    font-size: 14px;
    font-size: 1.4rem;
    a {
      display: block;
      padding: 5px 15px;
      margin: 2px 0;
    }
    li {
      min-width: 195px;
      max-width: 195px;
    }
    li, li a {
      color: black;
      text-decoration: none;
    }
    li:hover {
      border-radius: 50px;
      background: #5DB15A;
    }
    li:hover a, li:hover i {
      color: white;
    }
    .selected-item{
      color: white;
      border-radius: 50px;
      background: $navbarColor;
    }
  }
  hr{

    border-top-color: #047000; 
    border-width: 2px; 
    border-radius: 10px; 
    width: 90%; 
  }
}