.single-manual-card {
  min-height: 250px;
  max-height: 900px;
  box-shadow: 3px 3px 6px rgba(0,0,0, 0.3);
  border-top: 1px solid rgba(0,0,0, 0.1);
  border-left: 1px solid rgba(0,0,0, 0.1);
  color: black;
  padding: 15px;
  margin-bottom: 25px;
  text-align: right;
  transition: border 0.05s, background 0.3s;
  

  border-radius: 3%;

  .manual-text {
    overflow: hidden;
  }
  h4{
    text-align: left;
  }
  a{
    color: green;
    font-weight: 650;
  } 
  
  &:hover {
    cursor: pointer;
    background: white;
    box-shadow: 6px 6px 12px rgba(0,0,0, 0.3);
    border-radius: 3%;
  }
}

.show_it_link{
  margin-top: 5px;
  padding: 5px;
  /*bottom: 0;*/
  border: 2px solid #00b300;
  border-radius: 10px;
}
.show_it_link:hover{
  box-shadow: 3px 3px 6px rgba(0,0,0, 0.3);
}
.manual-img {
  padding-bottom: 5px;
}
.img_m {
  /*border: 2px solid green;*/
  border-radius: 3%;
  max-height: 600px;

  display: block;
  margin: 0 auto;
}




