.single-manual-card {
  min-height: 400px;
  max-height: 400px;
  max-width: 500px;
  box-shadow: 3px 3px 6px rgba(0,0,0, 0.3);
  border-top: 1px solid rgba(0,0,0, 0.1);
  border-left: 1px solid rgba(0,0,0, 0.1);
  color: black;
  padding: 10px;
  margin-left: 20px;
  margin-bottom: 15px;
  text-align: right;
  transition: border 0.05s, background 0.3s;
  

  border-radius: 4%;

  .manual-text {
    overflow: hidden;
  }
  h4{
    text-align: left;
  }
  a{
    color: green;
    font-weight: 650;
  } 
  a:hover {
    color: green;
    font-size: 18px;
  }
  &:hover {
    cursor: pointer;
    background: white;
    box-shadow: 6px 6px 12px rgba(0,0,0, 0.3);
    border-radius: 4%;
  }
}

.manual-img {
  /*display: none;*/
}



