<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="row">
      <div class="col-sm-7">
        <%= render 'layouts/nav/header' %>
      </div>
      <div class="col-sm-5">
        <%= render 'layouts/nav/collapsible_elements' %> 
      </div>
    </div>
  </div>
</nav>